{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<h2>Big lens automobile</h2>

<div class="h-80 d-flex align-items-center justify-content-center">
    <img src="{{asset('templates/adminTemplate/assets/img/mesImages/parcAuto2.jpg')}}" alt=""
        style="width:1000px; height:600px;">
</div>




{% endblock %}